#navbar-hero {
    background-color: #cbc5bf;
}

#splash-screen {
    background-image: url("../img/background.jpg");
}

.navbar-item {
    color: #ffffff;
    font-weight: bold;
}
a.navbar-item:hover {
    background-color: #cbc5bf;
    color: #000000;
}

a.navbar-link {
    color: #ffffff;
}

a.navbar-link:hover {
    font-weight: bold;
}

#dropdown-link {
    background-color: #cbc5bf;
}

#dropdown-link:hover {
    color: #000000;
}

#about {
    background-color: #F9F9F9;
}

#welcome-splash-title {
    font-size: 8rem;
    color: #000000;
}

#welcome-splash-subtitle {
    color: #2a2a2a;
}

#form-background {
    background-color: #6998AB;
}

#admin-submenu {
    background-color: #cbc5bf;
}

#add-user {
    margin: 4%;
}

#delete-user {
    margin: 4%;
}

#delete-news {
    margin: 4%;
}

#activate-news {
    margin: 4%;
}

#profile-save-button {
    margin-top: 10%;
    margin-left: -1%;
}

input:disabled+label {
    color: #ccc;
}
.card {
    padding: 4%;
}

#feed-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: block;
    padding: 3%;
}