#navbar-hero {
    background-color: #406882;
}

#splash-screen {
    background-color: #B1D0E0;
}

.navbar-item {
    color: #ffffff;
}
a.navbar-item:hover {
    background-color: #406882;
    color: #000000;
}

.navbar-link {
    color: #ffffff;
}
navbar-link:hover {
    background-color: #406882;
    color: #000000;
}


navbar-link {
    background-color: #406882;
}

.navbar-dropdown {
    background-color: #406882;
}


#about {
    background-color: #F9F9F9;
}

#welcome-splash-title {
    font-size: 8rem;
}

#form-background {
    background-color: #6998AB;
}

#admin-submenu {
    background-color: #406882;
}

#add-user {
    margin: 4%;
}

#delete-user {
    margin: 4%;
}

#profile-save-button {
    margin-top: 10%;
    margin-left: -1%;
}