#navbar-hero {
    background-color: #406882;
}

#splash-screen {
    background-color: #B1D0E0;
}

.navbar-item {
    color: #ffffff;
}
a.navbar-item:hover {
    background-color: #6998AB;
    color: #ffffff;
}
#about {
    background-color: #F9F9F9;
}

#welcome-splash-title {
    font-size: 8rem;
}

#form-background {
    background-color: #6998AB;
}

#feed {
    background-color: #F9F9F9;
}
