{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <section class="hero is-medium has-text-centered">
        <p class="title">Administrator settings</p>
        <p class="subtitle">Here you can add/remove users & news sources</p>
    </section>
    <nav id="admin-submenu" class="navbar">
        <div class="navbar-menu">
            <div class="buttons">
                <a class="button is-light">
                    <strong>Edit users</strong>
                </a>
                <a class="button is-light">
                    <strong>Edit news sources</strong>
                </a>
            </div>
        </div>
    </nav>
    <section class="hero">
        {{  }}
    </section>

{% endblock %}