{% extends 'base.html' %}

{% block title %}Edit users{% endblock %}

{% block content %}
    <section class="hero is-light is-medium has-text-centered">
        <div class="hero-body">
            <p class="title">Edit Users</p>
            <p class="subtitle">Manage users from the database</p>
        </div>
    </section>
    <section class="hero">
        <form class="hero" method="POST">
        <nav id="admin-submenu" class="navbar">
            <div class="hero">
                <div class="navbar">
                    <a id="add-user" class="button is-light">
                        <strong>Add new user</strong>
                    </a>
                    <button id="delete-user" class="button is-danger" type="submit">
                        <strong>Delete Selected</strong>
                    </button>
                </div>
            </div>
        </nav>
            <table id="user_table" class="table is-striped">
                <thead>
                    <th><input type="checkbox" id="checkall"></th>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Last visit</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for user in userlist %}
                        <tr>
                            <th><input type="checkbox" value="{{ user._id }}" name="user_checkbox"></th>
                            <th>{{ loop.index }}</th>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.last_signin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
        $("#user_table #checkall").click(function () {
                if ($("#user_table #checkall").is(':checked')) {
                    $("#user_table input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#user_table input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            ("[data-toggle=tooltip]").tooltip();
        });
    </script>
{% endblock %}
