{% extends 'base.html' %}

{% block title %}Edit News Sources{% endblock %}

{% block content %}
    <section class="hero is-light is-medium has-text-centered">
        <div class="hero-body">
            <p class="title">Edit News Sources</p>
            <p class="subtitle">Manage news sources</p>
        </div>
    </section>
    <section class="hero">
        <form class="hero" action="{{ url_for('bp_admin.edit_news_post') }}" method="POST">
            <nav id="admin-submenu" class="navbar">
                <div class="hero">
                    <div id="edit-user-buttons" class="navbar">
                        <button id="activate-news" class="button" type="submit" formaction="/admin/activate-news">
                            <strong>Activate selected</strong>
                        </button>
                        <button id="delete-news" class="button is-danger" type="submit">
                            <strong>Deactivate selected</strong>
                        </button>
                    </div>
                </div>
            </nav>
        <table id="news_table" class="table is-striped">
            <thead>
            <th><input type="checkbox" id="checkall"></th>
            <th>#</th>
            <th>Shown to users</th>
            </thead>
            <tbody>
            {% for news_place in news_list %}
                <tr>
                    <th><input type="checkbox" value="{{ news_place.name }}" name="news_checkbox"></th>
                    <td>{{ news_place.name }}</td>
                    {% if news_place.is_available %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='/js/news_checkboxes.js') }}"></script>
{% endblock %}
