{% extends 'base.html' %}

{% block title %}Edit News Sources{% endblock %}

{% block content %}
    <section class="hero is-light is-medium has-text-centered">
        <div class="hero-body">
            <p class="title">Edit News Sources</p>
            <p class="subtitle">Manage news sources</p>
        </div>
    </section>
    <section class="hero">
        <nav id="admin-submenu" class="navbar">
            <div class="hero">
                <div id="edit-user-buttons" class="navbar">
                    <a id="delete-user" class="button is-danger">
                        <strong>Deactivate selected source</strong>
                    </a>
                </div>
            </div>
        </nav>
    </section>
    <section class="hero">
            <table class="table is-striped">
                <thead>
                    <th><input type="checkbox" name="check_all_box"></th>
                    <th>#</th>
                    <th>Source</th>
                </thead>
                <tbody>
                {% for news_place in news_list %}
                    <p1>{{ news_place.name }}</p1>
                {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
