{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero is-fullheight">
        <div id="splash-screen" class="hero-body has-text-centered">
            <div class="container">
                <p id="welcome-splash-title" class="title">
                    Feed Funnel
                </p>
                <p class="subtitle is-size-2">
                    All your news in one place
                </p>
            </div>
        </div>
    </section>

    <section id="about" class="section is-large has-text-centered">
      <h1 class="title">About our service</h1>
      <p>
          Lorem ipsum dolor sit amet, at mei phaedrum philosophia. Qui antiopam prodesset an, usu modus qualisque ea.
          Mel omnis doctus prodesset in, esse graece ut cum, eu dictas recusabo eum. Errem incorrupte ne has.
          Reque minim bonorum vis te, dico dicam voluptaria nam ex, te sale splendide pro. Usu at sumo justo graece,
          no mel debet clita feugait, eum rationibus inciderint in.
          Mandamus postulant vel no, ea mea fugit etiam lobortis.
          Ad possim indoctum mel, cu per ignota veritus. Tota nemore imperdiet ea pro, ludus decore cotidieque ad per.
          Vim ex insolens scripserit, id eos vocibus verterem mnesarchum, id sit erat ubique.
          Te inani dicit officiis per, nam justo errem ad, at mollis phaedrum prodesset duo.
      </p>
    </section>
{% endblock %}
