{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero is-fullheight">
        <div id="splash-screen" class="hero-body has-text-centered">
            <div class="container">
                <p id="welcome-splash-title" class="title">
                    News feed
                </p>
                <p class="subtitle is-size-2">
                    All your news in one place
                </p>
            </div>
        </div>
    </section>
{% endblock %}
