{% extends 'base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-body">
            <div class="column is-one-fifth">
                <form class="box">
                    <ul>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="CNN">
                                <strong>CNN</strong>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="Reuters">
                                <strong>Reuters</strong>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" value="BBC">
                                <strong>BBC</strong>
                            </label>
                        </li>
                    </ul>

                    <button id="profile-save-button" class="button is-light">Save</button>
                </form>
            </div>
            <div class="column">
                <div class="container">
                    <p class="title has-text-centered">Welcome to your profile {{ current_user.first_name }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
